* {
box-sizing: border-box;
}

@font-face {
  font-family: 'Noto Sans Regular';
  src: url('../fonts/NotoSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'Bebas Neue Book';
  src: url("../fonts/BebasNeueBook.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  }

body {
    font-family: 'Noto Sans Regular', sans-serif;
}

.container{
  max-width: 90rem;
  margin: auto;
}

.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 5.875rem;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  border: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s;
}

.navbar-light {
  background-color: #fff;
  color: #292D33;
  height: 4.625rem;
}

.logo-svg {
  width: 9rem;
  height: 2.75rem;
  margin-left: -0.375rem;
}

.navbar-light .header-logo-path {
  fill: #292D33;
}

.header {
  padding-top: 5.875rem;
  min-height: 100vh;
}

.header-image {
  background-image: url(../img/header-image.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom -50px;
  position: relative;
}

.header-image::before {
  content: "";
  position: absolute;
  background: rgba(41, 45, 51, 0.75);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header-logo {
  display: flex;
  align-items:center;
  padding: 0px 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.header-nav {
  flex-basis: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;
}

.header-nav-item:not(:last-child) {
  margin-right: 3.125rem;
}

.header-nav-link{
text-decoration: none;
font-size: 1rem;
color: inherit;
}

.header-phone {
  display: flex;
  flex-shrink: 0;
  gap: .625rem;
  align-items:center;
  margin-right: 3.125rem;
}

.header-phone-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}

.button {
font-weight: 600;
font-size: 1rem;
line-height: 160%;
color: #ffffff;
background-color: #3a71d1;
padding: 1.5625rem 3.75rem;
border: none;
display: inline-block;
cursor: pointer;
}

.navbar-button {
  flex-shrink: 0;
  height: 100%;
  padding: 1.5625rem 3.125rem;
}

.header-button {
  height: 100%;
}

.seporator {
  width: 9.375rem;
  height: 2px;
  background: #5c8ee5;
}

.header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color:#fff;
}
.header-title {
  max-width: 64rem;
  font-family: 'Bebas Neue Book';
  line-height: 120%;
  font-size: 5rem;
  margin: 1.875rem 0;
  letter-spacing: .05rem;
  word-spacing: -0.1rem;
}

.header-text {
  max-width: 45rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 3.125rem;
}

.header-features {
  display: flex;
  min-height: 10.5rem;
  padding: 0;
  margin-top: 6.25rem;
  list-style: none;
  color: #fff;
  position: relative;
}

.header-features-item {
  padding: 1.75rem 3.125rem;
  width: 18.5rem;
  border: 1px solid rgba(235, 235, 240, 0.2)
}

.header-features-text {
  font-size: 1.09rem;
  line-height: 151%;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 1.125rem;
}

.header-features-item:not(:last-child) {
  border-right: none;
}

.section {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
}

.section-title {
  font-family: 'Bebas Neue Book';
  color: #292D33;
  font-size: 3.75rem;
  line-height: 120%;
  margin-top: 24px;
}

.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 3.875rem;
}

.steps-item {
  width: 18.625rem;
}

.steps-num {
  font-family: Bebas Neue Book;
  font-size: 3rem;
  line-height: 120%;
  color: #5C8EE5;
  display: flex;
  align-items:center;
}
.steps-num:after {
  content: "";
  height: 1px;
  background: #EBEBF0;
  width: 100%;
  margin-left: 1.875rem;
}

.steps-title {
font-weight: 400;
font-size: 1.75rem;
line-height: 160%;
color: #292D33;
margin-top: 1.875rem;
margin-bottom: .625rem;
}

.steps-text {
font-weight: 400;
font-size: 1rem;
line-height: 160%;
color: #828A99;
margin-top: .625rem;
margin-bottom: 1.25rem;
}

.steps-link {
display: flex;
align-items: center;
text-decoration: none;
font-weight: 600;
font-size: 1rem;
line-height: 160%;
color: #5C8EE5;
}

.steps-link::before {
  content: "";
  display: flex;
  height: .0625rem;
  background: #5C8EE5;
  width: 2.5rem;
  margin-right: 1.25rem;
}

@media (min-width: 1200px) and (max-width: 1920px) {

  html {
    font-size: 14px;
  }
  .header-image {
    background-position: center;
  }
}
